


    
    .text-headers{
        text-align: center;
        font-size: large;
        margin-bottom: 8rem;
        font-weight: 700;
        font-size: 5.5rem;
        letter-spacing: -0.03em;
    }
    .text-headers-secondary{
        text-align: center;
        font-size: large;
        
        font-weight: 700;
        font-size: 3.5rem;
        margin-bottom: 7rem;
        letter-spacing: -0.03em;
        color: #0082f3;
        /* color: #6e9834; */
    }

    .section-chooseUs-text-header{
        color:#0082f3;
        font-weight: 800;
        margin-bottom: 3rem;
    }

    .body-secondary{
        background-color: #fff;
        height: 75rem;
        padding-top: 10rem;
        /* padding-bottom: 5rem; */
        
      
      
    
    }


    .section-chooseUs-column{
        height: 80rem;
        padding-top: 8rem;
    }
    .div-body-secondary{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        /* margin-bottom: 10rem; */
        /* padding-bottom: 3rem; */
    }

    .div-body-secondary-heading{
    
        color: #0082f3;
       
        margin-bottom: 3rem;
        text-align: center;
        font-weight: 700;
        font-size: 3.5rem;
        margin-bottom: 5rem;
        letter-spacing: -0.03em;
     
    }

    .div-body-secondary-body{
        font-size: 3rem;
        padding-left: 3.5rem;
        padding-right: 3rem;
        margin-bottom: 25rem;
        color: #546285;
        
      
    }

    .div-body-tertiary{
        /* display: flex; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-content: center; */
        /* align-items: center; */

        /* column-gap: 2rem; */
        /* align-items: center; */
        margin-left: 4rem;
       

    }

    .body-image{
        width: 100%;
        height: 40rem;
    }

    .div-descr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1fr;
    }



    /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    @media only screen and (max-width: 1243px){
        html{
                font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
            }
            .content{
                /* margin-top: 15%; */
                          
            
            }
    
    }
    
    @media only screen and (max-width: 1024px){
        html{
                font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
            }
    
            .div-body-tertiary-image-cover{
                width: 100%;
            }

            .body-image{
                width: 100%;

            }

            .div-body-secondary-body{
                font-size: 2.5rem;
            }

            .section-elementor-icon-box-description{
                font-size: 2.5rem;
            }

            .div-body-secondary-heading{
                margin-top: 5rem;
                padding-top: 5rem;
            }
    
        }
    
    
        @media only screen and (max-width: 1243px){
            html{
                    font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
                }
                .content{
                    /* margin-top: 15%; */
                              
                
                }
        
        }

        @media only screen and (max-width: 970px){
            html{
                    font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
                }

            .section-chooseUs-logo{
                height: 24.5rem;
                width: 24.5rem;
                margin-bottom: 1rem;
            }

            .section-chooseUs-text-header{

            }

            .section-chooseUs-logo-cover{
                margin-bottom: 2rem;
            }
    
        }

        @media only screen and (max-width: 768px){
            html{
                    font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
                }
            .text-headers-secondary{
                font-size: 2.8rem;
            }

            .body-secondary{
                background-color: #fff;
                height: 120rem;
                padding-top: 10rem;
                /* padding-bottom: 5rem; */
                                               
            }

            /* .div-body-secondary-body {
                font-size: 3rem;
                padding-left: 0rem;
                padding-right: 0rem;
                margin-bottom: 5rem;
                color: #546285;
            } */

            .div-body-tertiary{
              
                display: flex;
                flex-direction: column;
             
                margin-left: 3rem;
                margin-right: 3rem;
            
        
            }

           

            .body-image{
                width: 100%;
                height: 40rem;
            }

           

            .div-descr{
               
                height: 0fr;
              
                text-align: center;
                padding-top: 5rem;
            }
    
        }


        
    
        @media only screen and (max-width: 645px){
            html{
                    font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
                }

            .text-headers-secondary{
                font-size: 2.4rem;
                font-weight: 9000;
            }

            .div-body-tertiary{
                grid-template-columns: unset;
                grid-template-rows: 1fr 1fr;
                margin-right: 10rem;
                margin-left: 10rem;
                justify-content: center;
            }

            .div-body-secondary-body{
                padding-left: 0rem;
                padding-right: 0rem;
                margin-bottom: 25rem;
                margin-top: 2rem;
            }
    
        }

        @media only screen and (max-width: 523px){
            html{
                    font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
                }

                .div-body-secondary-body{
                    
                    margin-top: 0rem;
                }

              .body-image{
                  height: 30rem;
              }

              .pre-header-1{
                  font-size: 1rem;
              }

              .pre-header-3{
                  font-size: 1rem;
              }

              .pre-header-3{
                  font-size: 1rem;
              }
              .text-headers-secondary{
                  text-align: center;
                  font-size: 2.5rem;
                  padding-right: 2rem;
                  padding-left: 2rem;
              }
              .div-body-tertiary {
                grid-template-columns: unset;
                grid-template-rows: 0.5fr 0.5fr;
                row-gap: 6rem;
              }

              .div-body-tertiary-image-cover{
                  height: max-content;
                
              }


              .div-descr{
               
                height: 0fr;
              
                text-align: center;
                padding-top: 0rem;
                font-size: 2.5rem;
            }
        
        }



        @media only screen and (min-width: 1440px){
            html{
        font-size: 62.5% ;  /* i want 1 rem = 12px ; 8px/16px = 50% */
            } 

            .div-body-tertiary{
                max-width: 1290px;
                margin-left: auto;
                margin-right: auto;
            }



            .navigation{
                max-width: 1290px;
                margin-left: auto;
                margin-right: auto;
            }

            .section-chooseUs-column{
                height: 70rem;
                padding-top: 8rem;
            }


        }
