.contact-text-heading{
    font-size: 3.5rem;
    font-weight: 800;
    padding-top: 5rem;
    text-align: center;
    margin-bottom: 4rem;
}

.main-body{
    display: flex;
    /* height: 160rem; */
    /* padding-top: 2rem;
    padding-bottom: 40rem; */
    column-gap: 20rem;
    /* padding-left: 4rem; */
    /* padding-right: 4rem; */
    justify-content: center;    
    /* align-items: center; */
    align-content: center;
    background-color: #6A961F;
    padding-top: 10rem;
    margin-bottom: 10rem;
}

.main-body-l{
    place-self: center;
    align-content: center;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* padding-top: 10%; */
    /* background-color: yellow; */
    color: white;
}

.text-main-1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: greenyellow;
}

.text-main-2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.text-main-3{
    font-size: 2rem;
    margin-bottom: 1rem;
    
}
.text-main-3-back{
    display: inline-block;
    background-color: white;
    color: black;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    border-radius: 1rem;
}
.main-body-r-flex{

    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    background-color: white;
    height: max-content;
    /* padding-bottom: 10rem; */
}

.main-body-r{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
    height: 0;
    
}

.main-body-r div{
    /* border: 1px solid red; */
    /* width: 7rem;
    height: 7rem; */
    /* background-color: green; */
    
}

.grid-1-input{
    width: 100%;
    height: 3.5rem;
    border-radius: 100px;
    padding-left: 1rem;
    border: none;
}

.grid-2-input{
    width: 100%;
    height: 3.5rem;
    border-radius: 100px;
    padding-left: 1rem;
    border: none;
}

.grid-3{
    /* grid-row-start: 2 1;
    grid-row-end: 3 3; */

    /* grid-row-start: 2;
    grid-row-end: span 2; */
    
    grid-area: 2 / 1 / 2 / 3;
    width: 100%;
    /* background-color: green; */
   
    
}

.grid-3-input{
    width: 100%;
    height: 3.5rem;
    border-radius: 100px;
    padding-left: 1rem;
    border: none;
}


.grid-4{
    grid-area: 3 / 1 / 4 / 3;
}

.grid-4-input{
    /* width: 100%; */
    /* height: 20rem; */
    height: 30rem;
    border-radius: 100px;
    padding-left: 1rem;
    border: 1px solid black;
    border: none;
}

textarea{
    width: 100%;
}

.grid-5-submit{
    width: 100%;
    height: 3.5rem;
    border-radius: 100px;
    padding-left: 1rem;
    background-color: white;
    background-color: greenyellow;
    border: none;
}

.grid-5-submit:hover{
    background-color: green;
}

.phone-icon{
    color: green;
    margin-right: 2rem;
    
    padding: 0.5rem;
    
   
}

.phone-icon:hover, .mail-icon:hover{
    background-color: lawngreen;
    color: white;
  
}
.mail-icon{
    color: red;
    margin-right: 1rem;
    padding: 0.5rem;
}

.email-link{
    color: black;
}

.email-link:hover{
    color: yellowgreen;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


@media only screen and (max-width: 1243px){
    html{
            font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
        }
        .content{
            /* margin-top: 15%; */
                      
        
        }

}

@media only screen and (max-width: 1024px){
    html{
            font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
        }

        .div-body-tertiary-image-cover{
            width: 20%;
        }

    }


    @media only screen and (max-width: 1243px){
        html{
                font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
            }
            .content{
                /* margin-top: 15%; */
                          
            
            }
    
    }

   

    @media only screen and (max-width: 928px){
        html{
                font-size: 49.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
            }
        
        .text-main-1{
                font-size: 3rem;
        }

        .text-main-2{
            font-size: 2.2rem;
        }
        .text-main-3{
            font-size: 1.8rem;
        }

        .main-body{
                
                column-gap: 7rem;
                padding-left: 8rem;
                padding-right: 8rem;
               
        }

        .main-body-l{
            width: 50;
        }

    }


    @media only screen and (max-width: 645px){
        html{
                font-size: 52.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
            }

    }

    @media only screen and (max-width: 835px){
        html{
                font-size: 47.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
            }

            .main-body{
                
               flex-direction: column;
               height: 90rem;
               justify-content: unset;
               width: 100%;
               
        }

        .main-body-l {
            height: unset;
            margin-bottom: 8rem;
            /* border: 1px solid red; */
        }
        
        .main-body-2 {
            height: unset;
            margin-bottom: 8rem;
            /* border: 1px solid red; */
        }

        .main-body-r{
            /* height: fit-content; */
        }
        .main-body-r-flex{
            height: fit-content;
        }

    }


    @media only screen and (max-width: 465px){
        html{
                font-size: 45.25% ;   /* i want 1 rem = 9px ; 10px/16px = 56.25% */
            }

            .text-main-1{
                font-size: 2.5rem;
        }

        .text-main-2{
            font-size: 2rem;
        }
        .text-main-3{
            font-size: 1.6rem;
        }

        .main-body{
                
            flex-direction: column;
            height: 98rem;
            justify-content: unset;
            width: 100%;
            
     }


    }