.header{
    height: 95vh;
    background-image: linear-gradient(to right, 
    rgba(173, 183, 230, 0.856) , rgba(0, 0, 255, 0.836) ),
    url(../img/wynn-3.jpg);
    background-size: cover;
    background-position: top;  
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh  , 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh  , 0 100%); 
    position: relative;
  

}


.content-text-main{
    font-size: 2rem; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;
}

.content-text-tertiary{
    margin-top: 1rem;
    font-size: .8rem;
    margin-top: 0;

   }

.content-text-secondary{
    font-size: 2.5rem; 
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-top: -1rem;
    margin-bottom: .6rem;
}

.navigation{
    position: relative;
    background-color: white;
    display: block;
   }
   
   .navigation-checkbox{
       display: none;
   }
   .navigation-button{
       display: unset;
       background-color: white;
       height: 7rem;
       width: 7rem;
       position: fixed;
       top: 4rem;
       right: 3rem;
       border-radius: 50%;
       z-index: 2000 ;
       box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.132);
       transition: all .2s;
       text-align: center;
       cursor: pointer;
   
   }
   .navigation-background{
       display: unset;
       height: 4.5rem;
       width: 5rem;
      
       position: fixed;
       background-color: white;
       /* background-image: radial-gradient(lightblue, blue); */
       top: 4.8rem;
       right: 4rem;
       z-index: 1000;
    
       /* transform: scale(50); */
       transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);  /* check for easing functions on google to get digit combo */;
   
   }
   .navigation-nav{
       height: 100vh;
       
       position: fixed;
       top: 0;
       right: 0;
       z-index: 1500;
       opacity: 0;
       width: 0;
        transition: all .8s; 
   }

   .navigation-list{
       display: unset;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       list-style: none;
       text-align: center;
       width: 100%;
       background-color: unset;
       height: unset;
   }
   .navigation-item{
       margin: 1rem;
       display: block;
   
   }


   .arrow-down{
    padding-top: 0rem;
    height: 1rem;
    width: 1rem;
    color: blue;
}


   .navigation-link, .navigation-link:link, .navigation-link:visited{
    display: inline-block;
    font-size: 30rem;
    font-weight: 300;

   }
    .navigation-link, .navigation-link:link, .navigation-link:visited{
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: .8rem 2rem;
        
       
        color: blue;
        text-decoration: none;
        text-transform: uppercase;
        background-size: 224%;
        background-image: linear-gradient(120deg, transparent 0%,
                                                transparent  50%,
                                                white 50%);
        transition: all .5s step-end;
        font-size: 1.1rem;
    }
    
  
    .navigation-link:hover, .navigation-link:active{
        background-position: 100%;
       color: red;
        
    }
    
    .navigation-checkbox:checked ~ .navigation-background{
        opacity: 1;
        transform: scale(80);
    }
    
    .navigation-checkbox:checked ~ .navigation-nav{
        opacity: 1;
        width: 100%;

    }
    
    .navigation-icon{
    display: unset;
      position: relative;
      margin-top: 3.3rem;
      
    }
    .navigation-icon, .navigation-icon:before, .navigation-icon:after{
        width: 3rem;
        height: 2px;
        background-color: #333;
    
        display: inline-block;
    
    }
    
    .navigation-icon:before, .navigation-icon:after{
       
        content: "";
        position: absolute;
        top: 10rem;
        left: 0;
        transition: all .2s;
    
    }
    
    .navigation-icon:before{
        top: -1rem;
    }
    
    .navigation-icon:after{
        top: 1rem;
    }
    
    .navigation-button:hover  .navigation-icon:before{
        top: -1.1rem;
    }
    
    .navigation-button:hover  .navigation-icon:after{
        top: 1.1rem;
    }
    
    .navigation-checkbox:checked + .navigation-button .navigation-icon{
        background-color: transparent;
    }
    
    .navigation-checkbox:checked + .navigation-button .navigation-icon:before{
        transform: rotate(45deg);
        top: 0;
        left: 0;
    
    }
    
    .navigation-checkbox:checked + .navigation-button .navigation-icon:after{
        transform: rotate(-45deg);
        top: 0;
        right: 0;
    }

    .content{
       
        display: flex;
        margin-top: 15rem;
        margin-left: 20%;
        margin-right: 30%;
        flex-direction: column-reverse;
        grid-auto-flow: dense;
        /* direction: ltr; */

        /* justify-content: unset; */

        row-gap: 5rem;
      
        /* height: 10%; */
        width: 40%;
        height: 30%;
        
        /* margin: 10% auto; */
        /* max-height: 10rem; */
      
    
    }
    
    .content-flex{
        /* flex-basis: 50%; */
        width: 150%;
        padding-left: 2rem;
        /* margin-left: 1.5rem; */
    
    }
    
    .content-image{
      
       height: 100%; 
     
        
        display: inline-block;
        max-width: 20rem;
     
   
    
    }
    
    .content-foot{
        display: flex;
        border-radius: 70px;
      
        width: 15rem;
        height: 3rem;
        align-items: center;
        justify-content: space-between;
      
        padding-left: .55rem;
        padding-right: .55rem;
        font-size: .8rem;
    }

    .content-foot-button{
        background-color: white ;
        border-radius: 70px;
        border-width: 0;
        padding: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1rem;
        color: red;
        font-size: .48rem;
        margin-top: 0rem;
        height: 2rem;
       
      
    }
    
    .content-foot-button:hover{
        transform: translateY(-0.1rem);
        opacity: 1;
        color: white;
        background-color: darkgrey;
          
    }
    